<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.w9jds.gallery4glass"
    android:versionCode="19"
    android:versionName="0.5.0-beta">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:name="com.w9jds.gallery4glass.Classes.Gallery4Glass"
        android:allowBackup="true"
        android:label="@string/app_name" >

        <activity
            android:name="com.w9jds.gallery4glass.MainActivity"
            android:immersive="true"
            android:launchMode="singleTop"
            android:icon="@drawable/ic_photo_50">

            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER"/>
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/gallery_voice_trigger"/>

            <receiver android:name="com.w9jds.gallery4glass.MainActivity"/>

        </activity>

        <activity
            android:name="com.w9jds.gallery4glass.VignetteActivity"
            android:immersive="true">

            <receiver android:name="com.w9jds.gallery4glass.VignetteActivity"/>

        </activity>

        <activity
            android:name="com.w9jds.gallery4glass.EffectActivity"
            android:immersive="true">

        </activity>

        <activity
            android:name="com.w9jds.gallery4glass.CameraActivity"
            android:noHistory="true"
            android:launchMode="singleTop"
            android:icon="@drawable/ic_camera_50">

            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER"/>
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/camera_voice_trigger"/>

        </activity>

        <!--<activity android:name=".Services.LiveCardService"/>-->

    </application>

</manifest>